
<div class="row g-5" style="user-select: auto;">
    <div class="col-md-8" style="user-select: auto;">
      <h4 class="pb-4 mb-4 fst-italic border-bottom text-success" style="user-select: auto;">
        Merci pour cette commande !
      </h4>
      <article class="blog-post" style="user-select: auto;">
        <p style="user-select: auto;">This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h2 style="user-select: auto;">Livraison</h2>
        <p style="user-select: auto;">This is an example blockquote in action:</p>
        <blockquote class="blockquote" style="user-select: auto;">
          <p style="user-select: auto;">Quoted text goes here.</p>
        </blockquote>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h3 style="user-select: auto;">Corrections</h3>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
        <ul style="user-select: auto;">
          <li style="user-select: auto;">First list item</li>
          <li style="user-select: auto;">Second list item with a longer description</li>
          <li style="user-select: auto;">Third list item to close it out</li>
        </ul>
        <p style="user-select: auto;">And this is an ordered list:</p>
        <ol style="user-select: auto;">
          <li style="user-select: auto;">First list item</li>
          <li style="user-select: auto;">Second list item with a longer description</li>
          <li style="user-select: auto;">Third list item to close it out</li>
        </ol>
        <p style="user-select: auto;">And this is a definition list:</p>
        <dl style="user-select: auto;">
          <dt style="user-select: auto;">HyperText Markup Language (HTML)</dt>
          <dd style="user-select: auto;">The language used to describe and define the content of a Web page</dd>
          <dt style="user-select: auto;">Cascading Style Sheets (CSS)</dt>
          <dd style="user-select: auto;">Used to describe the appearance of Web content</dd>
          <dt style="user-select: auto;">JavaScript (JS)</dt>
          <dd style="user-select: auto;">The programming language used to build advanced Web sites and applications</dd>
        </dl>
        <h2 style="user-select: auto;">Demander un remboursement</h2>
        <p style="user-select: auto;">HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" style="user-select: auto;">Mozilla Developer Network</a>.</p>
        <ul style="user-select: auto;">
          <li style="user-select: auto;"><strong style="user-select: auto;">To bold text</strong>, use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;strong&gt;</code>.</li>
          <li style="user-select: auto;"><em style="user-select: auto;">To italicize text</em>, use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;em&gt;</code>.</li>
          <li style="user-select: auto;">Abbreviations, like <abbr title="HyperText Markup Langage" style="user-select: auto;">HTML</abbr> should use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge" style="user-select: auto;">title</code> attribute for the full phrase.</li>
          <li style="user-select: auto;">Citations, like <cite style="user-select: auto;">— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;cite&gt;</code>.</li>
          <li style="user-select: auto;"><del style="user-select: auto;">Deleted</del> text should use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;del&gt;</code> and <ins style="user-select: auto;">inserted</ins> text should use <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;ins&gt;</code>.</li>
          <li style="user-select: auto;">Superscript <sup style="user-select: auto;">text</sup> uses <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;sup&gt;</code> and subscript <sub style="user-select: auto;">text</sub> uses <code class="language-plaintext highlighter-rouge" style="user-select: auto;">&lt;sub&gt;</code>.</li>
        </ul>
        <p style="user-select: auto;">Most of these elements are styled by browsers with few modifications on our part.</p>
        <h2 style="user-select: auto;">Heading</h2>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h3 style="user-select: auto;">Sub-heading</h3>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <pre style="user-select: auto;"><code style="user-select: auto;">Example code block</code></pre>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>

      <article class="blog-post" style="user-select: auto;">
        <h2 class="blog-post-title" style="user-select: auto;">Des produits similaires</h2>
        <p class="blog-post-meta" style="user-select: auto;">December 23, 2020 by <a href="#" style="user-select: auto;">Jacob</a></p>

        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <blockquote style="user-select: auto;">
          <p style="user-select: auto;">Longer quote goes here, maybe with some <strong style="user-select: auto;">emphasized text</strong> in the middle of it.</p>
        </blockquote>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>
      <nav class="blog-pagination" aria-label="Pagination" style="user-select: auto;">
        <a class="btn btn-outline-secondary" href="/" style="user-select: auto;">Retour au Catalogue</a>
      </nav>
    </div>

    <div class="col-md-4" style="user-select: auto;">
      <div class="position-sticky" style="top: 2rem; user-select: auto;">
        <div class="p-4 mb-3 bg-light rounded" style="user-select: auto;">
          <h4 class="fst-italic" style="user-select: auto;">Vos informations</h4>
          <li class="mb-0" style="user-select: auto;"> NOM :<%= @order.last_name %></li>
          <li class="mb-0" style="user-select: auto;">PRENOM :<%= @order.first_name %></li>
          <li class="mb-0" style="user-select: auto;"> EMAIL :<%= @order.email %></li>
          <li class="mb-0" style="user-select: auto;">ADRESSE : <%= @order.adresse %></li>
        </div>
        <% if @order.status == "ordered" %>
          <nav class="blog-pagination" aria-label="Pagination" style="user-select: auto;">
            <%= form_tag charges_path(order_id: @order) do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%=Rails.configuration.stripe[:publishable_key]%>"
                  data-description="Payer par card"
                  data-amount="<%= @cart.ttc * 100 %>"
                  data-locale="auto"></script>

            <% end %>
          </nav>
        <% end %>
      </div>
    </div>
</div>
