
<div class="row g-5" style="user-select: auto;">
    <div class="col-md-8" style="user-select: auto;">
      <h4 class="pb-4 mb-4 fst-italic border-bottom text-success" style="user-select: auto;">
        Merci pour cette commande !
      </h4>
      <article class="blog-post" style="user-select: auto;">
        <h3>Les informations de la commande</h3>
        <ul style="user-select: auto;">
          <li style="user-select: auto;"><strong class="text-success">Nom du produit :</strong> <%= @order.product_name %> </li>
          <li style="user-select: auto;"><strong class="text-success">Total : </strong> <%= number_to_currency @order.cart_total, unit: "FCFA", separator: ",", format: "%n%u" %> </li>
          <li style="user-select: auto;"><strong class="text-success">Acheteur : </strong> <%= @order.buyer %> </li>
          <li><strong class="text-success">Status :</strong><span class="badge bg-success"><%= @order.status %></span></li>
        </ul>
        <hr>
        <blockquote class="blockquote" style="user-select: auto;">
          <p style="user-select: auto;"><a href="/products/<%= @order.cart_product_id %>">Voir la fiche du produit</a></p>
        </blockquote>
        <% unless @order.seller_id == current_user.id %>
        <hr>
        <h3>Paiement</h3>
         <div class="">
          <% if @order.status == "ordered" %>
            <nav class="blog-pagination" aria-label="Pagination" style="user-select: auto;">
              <%= form_tag charges_path(order_id: @order) do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                </article>
                Effectuez le paiement par carte bancaire.
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%=Rails.configuration.stripe[:publishable_key]%>"
                    data-description="Payer"
                    data-label="Payer par carte "
                    data-currency="XOF"
                    data-amount="<%= @cart.ttc * 100 %>"
                    data-locale="auto"></script>
              <% end %>
            </nav>
          <% end %>
        </div>
        <p style="user-select: auto;">Votre compte sera defalquê mais le vendeur ne sera payé que lorsque vous aurez été satisfait par ce dernier.</p>
        <hr>
        <h3 style="user-select: auto;">Livraison</h3>
        <p style="user-select: auto;">Si vous avez ete satisfait par le vendeur cliquez sur ce boutton pour que le vendeur soit payé:</p>
        <% if @order.status == "payed" %>
        <a class="btn btn-sm btn-success" data-method="post" href="<%= validate_order_path(id:@order,status:"sent") %>" style="user-select: auto;">Je suis satisfait</a>
        <br><br>
        <% end %>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <hr>
        <h3 style="user-select: auto;">Validation de la commande</h3>
        <p style="user-select: auto;">This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
        <hr>
        <h3 style="user-select: auto;">Demander un remboursement</h3>
        <p style="user-select: auto;">HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" style="user-select: auto;">Mozilla Developer Network</a>.</p>
        <% end %>
      </article>

      <nav class="blog-pagination" aria-label="Pagination" style="user-select: auto;">
        <a class="btn btn-outline-secondary" href="/" style="user-select: auto;">Retour au Catalogue</a>
      </nav>
    </div>

    <div class="col-md-4" style="user-select: auto;">
      <div class="position-sticky" style="top: 2rem; user-select: auto;">
        <div class="p-4 mb-3 bg-light rounded" style="user-select: auto;">
          <p>Fil de discussion</p>
          ::::::
        </div>
        <a class="btn btn-sm btn-info" href="/" style="user-select: auto;">Discuter avec le vendeur</a>
        <br><br><br>
      </div>
    </div>
</div>
