



<div class="container row mb-2" style="user-select: auto;">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
      <div class="col-sm-6 col-lg-4 mb-2" style="user-select: auto;">
            <div class="card shadow-sm" style="user-select: auto;">
              <%= cl_image_tag(product.image_url.key, width: 200, height: 200, crop: :scale, class:"bd-placeholder-img card-img-top" ) %>
              <div class="card-body" style="user-select: auto;">
                <h5 class="mb-2" style="user-select: auto;"><%= product.title %></h5>
                <p class="card-text" style="user-select: auto;"><%= truncate product.description, length: 80, escape: false  %></p>
                <small class="text-muted" style="user-select: auto;"><%= product.user.profil.name unless product.user.profil.nil? %></small>

                <div class="d-flex justify-content-center align-items-center" style="user-select: auto;">
                  <div class="btn-group" style="user-select: auto;">
                    <%=link_to "A parti de #{number_to_currency product.price, unit: "$", separator: ",", format: "%n%u" }",product, class:"btn btn-md btn-outline-success" %>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <% end %>
    <% end %>
    <nav class="blog-pagination" aria-label="Pagination" style="user-select: auto;">
      <a class="btn btn-outline-primary" href="<%= new_product_path %>">Ajouter votre product</a>
    </nav>
  <% end %>
</div>
